body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}